
.hero-logo {
    width: 100%; 
    height: 490px; 
    object-fit: cover; 
    object-position: center top; 
}

.hero-logo:hover {
    cursor: pointer;
}

.hero-container {
    padding-bottom: 80px;
}