.shoes-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.shoes-column {
    flex: 50%;
    padding: 10px;
    padding-bottom: 20px;

}

.shoes-column img {
    width: 24%;
    vertical-align: left;
}

.shoes-column img:hover {
    cursor: pointer;
}

.type1 {
    height: 500px;
    margin-right: 15px;
    margin-left: 8px;
}

.type2 {
    height: 500px;
    margin-right: 15px;
}

.type3 {
    height: 500px;
    margin-right: 15px;
}

.type4 {
    height: 500px;
    margin-right: 0;
}

.classics {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
}

.products {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 300px;
}